In [2]:
%config Completer.use_jedi = False

In [1]:
# %load ../../../../useful_codes/importing_code.py
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline
%config Completer.use_jedi = False

from matplotlib import rcParams 
rcParams['figure.figsize'] = 15,6

pd.set_option("display.max_rows", None)
pd.set_option("display.max_colwidth", None)
pd.set_option("display.max_columns", None)

In [2]:
print(pd.__version__)

1.2.3

In [3]:
print(np.__version__)

1.19.2

In [10]:
col_names = ['age','workclass','fnlwgt','education','education_num','marital_status',\
            'occupation','relationship','race','sex','capital_gains','cpaital_losses',\
            'hrs_per_week','native_country','salary']

In [42]:
df = pd.read_csv('../../data/adult_training_data.csv', header=None, names=col_names, na_values=' ?')

In [43]:
df.workclass.value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [32]:
df.shape

(32561, 15)

In [29]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gains,cpaital_losses,hrs_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [14]:
df.salary.value_counts(normalize=True)

 <=50K    0.75919
 >50K     0.24081
Name: salary, dtype: float64

In [21]:
df['income_class'] = np.where(df.salary==' >50K','high','low')

In [22]:
df.income_class.value_counts(normalize=True)

low     0.75919
high    0.24081
Name: income_class, dtype: float64

In [25]:
df.describe()

,age,fnlwgt,education_num,capital_gains,cpaital_losses,hrs_per_week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [36]:
df.workclass.value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64